<h2><%= @user.name %>'s Dashboard</h2>
<br>
<div class='discover-movies'>
  <%= button_to 'Discover Movies', user_discover_index_path(@user), method: :get %>
</div>
<br>
<div class='viewing-parties'>
  <% @user.hosted_parties.each do |party| %>
    <% movie = MovieFacade.new(party.movie_id).movie_details_show %>
    <%= movie.title %>
    <img src="https://image.tmdb.org/t/p/original/<%= movie.poster_path %>" width='100' height='200'>
    <br>
  <% end %>
</div>