<%= button_to "Create New User", "/register", method: :get %>
<%= link_to 'Log In', login_path %>

<div class="existing-users">
  <h3>Existing Users</h3>
  <% @users.each do |user| %>
    <%= link_to "#{user.email}", user_path(user) %>
  <% end %>
</div>