<%= button_to "Create New User", register_path, method: :get %>
<% if session[:user_id] == nil %>
  <%= link_to 'Log In', login_path %>
<% else %>
  <%= link_to 'Log Out', logout_path %>
  <div class="existing-users">
    <h3>Existing Users</h3>
    <% @users.each do |user| %>
      <%= user.email %>
    <% end %>
  </div>
<% end %>
